### General (Docker, MacOS, PHPStorm...)
.idea/*
docker-compose.override.yml
.DS_Store
.AppleDouble
.LSOverride

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###
