# File syntax : https://docs.docker.com/compose/compose-file/
# This file is useful for development environment

version: "3.6"

services:

  http:
    volumes:
      - "./app/public:/srv/public:ro"
    ports:
      - "8080:80"

  php:
    volumes:
      - "./:/srv"
    environment:
      - PHP_IDE_CONFIG="serverName=<YOUR_PHPSTORM_SERVER_NAME>"
      - XDEBUG_CONFIG="remote_host=<YOUR_HOST_IP>"
